$blue:   #056ef0;
$file: ./b.css;

.hello {
    composes: b from "./b.css";
composes: b from $file;
    background-color: yellow;
    background-color: $blue;
}

.parent {
    display: flex;
    transition: all 4s ease;
    filter: grayscale(50%);
}
