
.cardWithShadowAndRoundCorners {
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.6);
    box-shadow: rgba(88, 86, 86, 0.721569) 4px 5px 5px -1px;
}

.closeButtonTransparent {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    font-size:130%;
    overflow: hidden;
    outline:none;
}

.fRow-vCenter-hSpread {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal {
  /*max-height: calc(100% - 100px);*/
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
}

.outer {
    composes: cardWithShadowAndRoundCorners modal;
    /*composes: modal;*/
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

    .heading {
        composes: fRow-vCenter-hSpread;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid gray;
        line-height: 1.25;
    }

        .h4 {
            width: 90%;
        }

        .closeButton {
            composes: closeButtonTransparent;
            width: 10%;
            margin-right: -2%;
        }

    .labelAndField {
        composes: fRow-vCenter-hSpread;
        margin-top: 10px;
        line-height: 1.5;
    }

        .label {
            width: 90%;
        }

        .checkbox {
            width: 10%;
            margin-right: -2.3%;
        }

.labelAndField:last-child {
    padding-bottom: 15px;

}

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
        border-top: 1px solid gray;
        line-height: 1.25;
    }
