/*Styling for settingsForm.jsx
Requires utilityClasses.css*/

.outer {
    composes: cardWithShadowAndRoundCorners modal from "../custom/utilityClasses.css";
    /*composes: modal;*/
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

    .heading {
        composes: fRow-vCenter-hSpread from "../custom/utilityClasses.css";
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid gray;
        line-height: 1.25;
    }

        .h4 {
            width: 90%;
        }

        .closeButton {
            composes: closeButtonTransparent from "../custom/utilityClasses.css";
            width: 10%;
            margin-right: -2%;
        }

    .labelAndField {
        composes: fRow-vCenter-hSpread from "../custom/utilityClasses.css";
        margin-top: 10px;
        line-height: 1.5;
    }

        .label {
            width: 90%;
        }

        .checkbox {
            width: 10%;
            margin-right: -2.3%;
        }

        .labelAndField:last-child {
            padding-bottom: 15px;

        }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
        border-top: 1px solid gray;
        line-height: 1.25;
    }
