/*southHand.css*/

/*common functions*/
.fnOuter {
    display:inline-block;
    background-color: red;
    position: relative;
}

.fnMeta {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -80%);
    text-align: center;
    background-color: rgba(233, 234, 241, 0.6);
    color: rgba(0, 0, 0, 0.6);
}
/*end common functions*/

/*xl, extra large*/
.outer-xl {
    composes: fnOuter;
}
    .outer-xl img:not(.card1) {
        margin-left:-181px;
    }
    .outer-xl img {
        /*keep image same size, height=323px*/
        height: 323px;
    }
    .meta-xl {
        composes: fnMeta;
        padding: 10px;
    }
/*end xl*/

/*l, large*/
.outer-l {
    display:inline-block;
    background-color: red;
}

.outer-l img:not(.card1) {
    margin-left:-168px;
}

.outer-l img {
    height: 300px
}
/*end l*/

/*md, medium*/
.outer-md {
    display:inline-block;
    background-color: red;
}

.outer-md img:not(.card1) {
    margin-left:-157px;
}

.outer-md img {
    height: 280px;
}
/*end md*/


/*sm, small*/
.outer-sm {
    display:inline-block;
    background-color: red;
}

.outer-sm img:not(.card1) {
    margin-left:-140px;
}

.outer-sm img {
    height: 250px;
}
/*end sm*/

/*xs, extra small*/
.outer-xs {
    display:inline-block;
    background-color: red;
}

.outer-xs img:not(.card1) {
    margin-left:-112px;
}

.outer-xs img {
    height: 200px;
}
/*end xs*/
